body{
    background-image: linear-gradient(180deg, #e8e0af, #527e71);
    width: 100%;
    height: 100vh;
    font-family: "roboto";
}

#nuevaTarea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ingreso{
    margin-left: 120px;
}
#lista{
    display: flex;
    flex-direction: grid;
    justify-content: center;
}

div{
    margin-right: 10%;
}

.filaTarea{
    display: flex;
    background-color: #527e71;
    border: 2px solid;
}

#nuevaTarea{
    background-color: #527e71;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 60%;
}