body {
    background-color: #eaf6ff;
    color: #2c3e50;
    font-family: 'Segoe UI', sans-serif;
}

header {
    justify-content: center;
    display: flex;
    background-color: #2980b9;
    color: white;
    padding: 1rem;
    border: 5px rgb(61, 87, 123) solid;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 12.5%;
}

article.h2 {
    justify-content: start;
}

.form-row {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.form-row label {
    width: 150px;
    margin-right: 12px;
    text-align: end;
}

.form-row input {
    flex: 1;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}


#caja {
    width: 60%;
    height: 390px;
    border: 2px solid #2c3e50;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

#caja #h3test, .Pregunta {
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 310px;
    box-sizing: border-box;
}

#h3test {
    text-decoration: underline;
}

.rta {
    border: 1px solid #bdc3c7;
    padding-left: 3px;
    background-color: #f9f9f9;
    margin: 2px 0;
    margin-left: 5px;
    border-radius: 4px;
}

.preg {
    padding-top: 5px;
    width: 100%;
    padding-left: 0px;
    align-items: left;
}

.Pregunta {
    width: 100%;
    padding-left: 0px;
    margin-top: 10px;
    font-weight: bold;
}

#questions {
    margin-bottom: 10px;
}

#enviarPreg,
#btnDatos {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#enviarPreg:hover,
#btnDatos:hover {
    background-color: #2980b9;
}

#enviarPreg {
    margin-top: 25px;
    margin-left: 250px;
}

#btnDatos {
    margin-left: 195px;
}