body{background-color:aliceblue;}

header{justify-content: center;
display: flex;}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resu{
    text-decoration: underline;
}
